body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color:  #557153;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
}
h2{
    color: #11999E;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2 ;
}
hr{
    border: dotted #EAf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 40px;
    text-decoration: none;
}
a:hover{
    color: #101010;
}

.top-container{
    background-color: #FFEFD6;                 /*#e6bfbf*/
    position: relative;
    padding-top: 100px;
}
.middle-container{
    color:#7e7361;
    margin: 100px 0;

}
.bottom-container{
background-color: #FFFBEB;
padding: 50px 0 20px;
}
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom:300px;
}
.webimage{
    border-radius: 100%;
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-top: 6px;
}
.pythonimage{
  
    height: 20%;
    width: 20%;
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row1{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: right;
    line-height: 2;
}
.contact-message{
    width: 38%;
    margin: 40px auto 60px;
}
.copyright{
    color: #101010;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -moz-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -ms-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: -o-linear-gradient(top, #30e3cb, #30e3cb);
    background-image: linear-gradient(to bottom, #30e3cb, #30e3cb);
    text-decoration: none;
  }